{% extends 'base.html' %}

{% block content %}
<h1>Browse Profiles</h1>
    {% for profile in all_profiles_list %}
    <div class="user-profile">

        <img src="{{profile.profile_pic.url}}" height="200" width="300">
        
        <h2>{{profile.name}}</h2>
        <p>{{profile.age}}, {{profile.gender}}<br>
        {{profile.city}}, {{profile.state}}<br>
        Partner Preferences: {{profile.partner_preferences}}</p>
        
        <h3>Hobbies and Interests</h3>
        <p>{{profile.hobbies_interests}}</p>
        
        <h3>Description</h3>
        <p>{{profile.description}}</p>
        <br>    
    </div>    
    
    {% endfor %}
</ul>
</div>
{% endblock content %}
