{% extends 'base.html' %}

{% block content %}

<div class="card mb-3" style="max-width: 540px;">
    <div class="row g-0">
      <div class="col-md-4">
        <img src="{{profile.profile_pic.url}}" class="img-fluid rounded-start" alt="...">
      </div>
      <div class="col-md-8">
        <div class="card-body">
          <h5 class="card-title">{{profile.name}}</h5>
          <p class="card-text">{{profile.age}} | {{profile.gender}}<br>
            {{profile.city}}, {{profile.state}}<br>
            Partner Preferences: {{profile.partner_preferences}}</p>
          <p class="card-text">{{profile.description}}</p>
          <p class="card-text"><small class="text-muted">Interests: {{profile.hobbies_interests}}</small></p>
        </div>
      </div>
    </div>
  </div>

{% endblock content %}